# Rust / Cargo
/target/
**/target/

# Build artifacts
*.rlib
*.rmeta
*.pdb

# WebAssembly / wasm-pack
/pkg/
**/pkg/
*.wasm

# Editor / OS
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# workbench for temp items
.workbench/