[submodule "third-party/glyph-providers/lucide"]
	path = third-party/glyph-providers/lucide
	url = https://github.com/lucide-icons/lucide
	ignore = all
[submodule "third-party/fonts/inter"]
	path = third-party/fonts/inter
	url = https://github.com/rsms/inter
	ignore = all
[submodule "third-party/fonts/jetbrains-mono"]
	path = third-party/fonts/jetbrains-mono
	url = https://github.com/jetbrains/jetbrainsmono
	ignore = all
[submodule "third-party/fonts/noto"]
	path = third-party/fonts/noto
	url = https://github.com/notofonts/noto-fonts
	ignore = all
[submodule "third-party/tosumu"]
	path = third-party/tosumu
	url = https://github.com/Arakendo/Tosumu.git
[submodule "third-party/weaver-xslt"]
	path = third-party/weaver-xslt
	url = https://github.com/Arakendo/weaver-xslt.git
[submodule "third-party/fonts/departure-mono"]
	path = third-party/fonts/departure-mono
	url = https://github.com/rektdeckard/departure-mono.git
	ignore = all
[submodule "third-party/presentation-providers/ratatui"]
	path = third-party/presentation-providers/ratatui
	url = https://github.com/ratatui/ratatui.git
	ignore = all
[submodule "third-party/ring-0/glam"]
	path = third-party/ring-0/glam
	url = https://github.com/bitshifter/glam-rs.git
